.imageSection {
  display: flex;
  justify-content: space-between;
  > * {
    flex-grow: 1;
    width: 50%;
  }
}
.imageSection.imageLeft > .imageFrame {
  order: -1;
}
.imageSection.imageRight > .imageFrame {
  order: 2;
}
.page > .imageSection {
  margin-left: 0;
  margin-right: 0;
}
