.imageSection {
  display: flex;
  justify-content: space-between;
  height: 100%;
  > * {
    flex-grow: 1;
    width: 30%;
  }
  .imageFrame {
    width: 70%;
    height: 100%;
  }
  .imageSectionContent {
    padding: 1rem;
    h2 {
      text-align: center;
    }
  }
}
.imageSection.imageLeft > .imageFrame {
  order: -1;
}
.imageSection.imageRight > .imageFrame {
  order: 2;
}
.page > .imageSection {
  margin-left: 0;
  margin-right: 0;
}
