.occupationDisplay {
  text-align: center;
  margin: 0.25rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 15rem;
  min-height: 15rem;
  height: auto;
  cursor: pointer;
  .occupationDisplayBackground {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 7.5rem;
  }
  .occupationDisplayContent {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1000;
    border-radius: 50%;
  }
  .occupationDescription {
    text-align: left;
    p {
      padding: 1rem;
    }
    &.isInFocus p {
      padding: 1rem;
      padding-bottom: 3rem;
    }
  }
}
