.page {
  position: absolute;
  left: 0;
  right: 0;
  padding-top: 1rem;
  padding-bottom: 7rem;
  > * {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .clampWidth {
    max-width: 80ch;
  }
}

h1 {
  border-bottom-width: 0.5px;
  border-bottom-style: solid;
  margin-top: 0;
  margin-bottom: 4rem;
  padding-left: 2rem;
}
