.themeSwitchContainer {
  position: fixed;
  top: 0;
  right: 1rem;
  width: 4rem;
  height: 4.5rem;
  cursor: pointer;
  &:focus {
    border: 1px dotted blue;
  }
}
.themeSwitch {
  box-sizing: border-box;
  text-align: center;
  padding: 0.6rem 0.3rem;
  position: fixed;
  top: 0;
  right: 1rem;
  width: 4rem;
  height: 2.5rem;
  z-index: 1000;
  & p {
    font-size: 4;
    font-weight: 600;
    font-family: heimat-mono, sans-serif;
  }
}
.ribbon {
  content: '';
  position: fixed;
  width: 0;
  height: 0rem;
  top: 0.5em;
  right: 1rem;
  border: 2rem solid black;
}
