@import '../devices.scss';

.moinTopSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  ul {
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    list-style: none;

    li {
      list-style: none;
      padding: 0.3rem 0.3rem;
      position: relative;
      &:before {
        content: '';
        display: inline-block;
        width: 0.5rem;
        height: 0.5rem;
        position: absolute;
        top: calc(50% - 0.25rem);
        left: -0.5rem;
        background: linear-gradient(45deg, #c42c00, #eb9f00);
        border-radius: 50%;
      }
    }
    &:nth-of-type(1) {
      order: -1;
    }
  }
}

.page.moin {
  display: flex;
  & > * {
    flex-grow: 1;
  }
  .moinSlider {
    padding: 4rem;
    & .slide {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
    }
  }
}
