@import '../devices.scss';

.moin {
  & ul {
    list-style: none;
    align-self: center;
    li {
      list-style: none;
      padding: 0.3rem 0.3rem;
      position: relative;
      &:before {
        content: '';
        display: inline-block;
        width: 0.5rem;
        height: 0.5rem;
        position: absolute;
        top: calc(50% - 0.25rem);
        left: -0.5rem;
        background: linear-gradient(45deg, #c42c00, #eb9f00);
        border-radius: 50%;
      }
    }
    &:nth-of-type(1) {
      //order: -1;
      grid-area: list1;
    }
    &:nth-of-type(2) {
      grid-area: list2;
    }
  }
  .gradientBorderImageWrapper {
    grid-area: image;
  }
}

.moinGrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-areas:
    '. list1 list1 image list2 list2 .'
    '. socialLink socialLink socialLink socialLink socialLink .';
}

.page.moin {
  display: flex;
  & > * {
    min-width: 50%;
    height: 100%;
  }
  .moinTextSection {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
}

.socialMediaLink {
  align-self: center;
  justify-self: center;
}

.socialMediaLinks {
  grid-area: socialLink;
  display: flex;
  flex: 1 1 0;
  justify-content: space-between;
  flex-wrap: wrap;
}
