@import '../devices.scss';

.page.skills {
  .gridContainer {
    display: grid;
    grid-template-columns: 1fr;
    @include for-tablet-portrait-up {
      grid-template-columns: repeat(2, 1fr);
    }
    @include for-tablet-landscape-up {
      grid-template-columns: repeat(3, 1fr);
    }
    @include for-big-desktop-up {
      grid-template-columns: repeat(4, 1fr);
    }
    grid-gap: 1.5rem;
  }
}
