$calenderMonthRadius: .2rem;
.calenderMonth{
    background: #d22;
    &:first-child{
        border-top-left-radius: $calenderMonthRadius;
        border-top-right-radius: $calenderMonthRadius;
    }
    &:last-child{
        border-bottom-left-radius: $calenderMonthRadius;
        border-bottom-right-radius: $calenderMonthRadius;
    }
    & > p{
        margin: .2rem;
        font-size: .5rem;
    }
}