.calenderYear {
  $calenderMonthRadius: 0.2rem;
  .calenderMonth {
    position: relative;
    height: 1rem;
    border-width: 1px;
    border-style: solid;
    border-width: 0 1px;
    border-radius: 0.75rem;
    margin: 0.2rem;
    overflow: hidden;
    & > p {
      font-size: 0.5rem;
    }
    .calenderMonthLabel {
      position: absolute;
      left: 0.5rem;
      margin-top: auto;
      margin-bottom: auto;
      font-size: 0.5rem;
    }
    .calenderMonthOccupation {
      font-size: 0.75rem;
      text-align: center;
      width: 100%;
    }
  }
}
