.page {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: clamp(30ch, 60%, 80ch);
  padding-bottom: 7rem;
  & h1 {
    text-align: center;
    border-bottom-width: 2px;
    border-bottom-style: solid;
  }
}
