$skillMeterHeight: 0.6rem;

.skillMeterBorder {
  width: 100%;
  height: $skillMeterHeight;
  border-width: 1px;
  border-style: solid;
  border-top-width: 0;
  border-bottom-width: 0;
  border-radius: $skillMeterHeight/2;
  & .skillMeterFill {
    height: $skillMeterHeight;
    border-radius: $skillMeterHeight / 2;
  }
}
