$skillMeterHeight: .6rem;

.skillMeterBorder{
    width: 100%;
    height: $skillMeterHeight;
    border: #998 1px solid;
    border-radius: $skillMeterHeight/2;
    & .skillMeterFill{
        background: orange;
        width: 50%;
        height: $skillMeterHeight;
        border-radius: $skillMeterHeight / 2;
    }
}