@use 'nav.scss';
@use 'containers.scss';
@use 'page.scss';
@use 'skillMeterGroup.scss';
@use 'skillMeter.scss';
@use 'calenderMonth.scss';
@use 'calenderYear.scss';

body {
  position: relative;
  margin: 0;
  background-color: #262622;
  color: #eeb;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-family: semplicitapro, sans-serif;
  font-weight: 300;
  font-style: normal;
  box-sizing: border-box;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: parkside, cursive;
  font-weight: 200;
  font-style: normal;
}
h1 {
  font-size: 3rem;
  font-weight: 400;
}
.warning {
  color: tomato;
}


.gridContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;
}
.columns-3 {
  grid-template-columns: repeat(3, 1fr);
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body{
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
