@use 'page.scss';
@use 'skillMeterGroup.scss';
@use 'skillMeter.scss';

body{
    position: relative;
    margin: 0;
    background-color: #262622;
    color: #eeb;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: semplicitapro, sans-serif;
    font-weight: 300;
    font-style: normal;
    box-sizing: border-box;
    overflow-x: hidden;
}
h1,h2,h3,h4,h5,h6{
    font-family: parkside,cursive;
    font-weight: 200;
    font-style: normal;
}
h1{
    font-size: 3rem;
    font-weight: 400;
}
.warning{
    color: tomato;
}
nav {
    position: fixed;
    z-index:1000;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    & a{
        flex-grow: 1;
        text-decoration: none;
        text-align: center;
        background-color: #181818;
        border-top: .05rem solid orange;
        color: inherit;
        padding: 1rem;

        transition: background-color .1s ease-in-out, border-top .15s ease-in-out;
        &:hover{
            background-color: #1d1d1d;
            border-top-width: .025rem;
        }
        &.activeLink{
            background-color: #262622;
            border-top: none;
        }
        &:visited{
            color: inherit;
            }
        }

}

.gridContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
}

 /* Hide scrollbar for Chrome, Safari and Opera */
 body *::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  body * {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  } 